@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

.header, .skills-tools-container, .contact-section {
    max-width: 100%;
    overflow: hidden; /* Prevents any content overflow */
    margin: 0 auto; /* Center content and prevent overflow */
}

html {
    scroll-behavior: smooth;
}
body {
    background: #F7F7F7;
    color: #F7F7F7;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.wrapper {
    width: 100%;
    background-color: #F7F7F7;
}
.header {
    max-width: 1500px;
    height: 100vh;
    background-image: url(images/nav-bar/lake_tree.jpg);
    margin: 0 auto;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    background-size: cover;
    background-position: center;
    max-height: 750px;
}
.container {
    padding: 10px 10%;
    display: flex;
    justify-content: flex-end;
}
.home {
    padding: 0px 200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: absolute;
}

.text-1 {
    margin-top: 30%;
    font-size: 30px;
}
.text-2 {
    font-weight: bold;
    font-size: 70px;
    margin-top: 5px;
}
.text-3 {
    font-size: 40px;
    margin-top: 20px;
    overflow-wrap: break-word !important;
    white-space: normal !important;
}

@media (max-width: 1200px) {
    .home {
        padding: 0px 100px; /* Adjust padding based on screen size */
    }
    .home-content {
        min-width: 700px !important; /* Set a minimum width to prevent shrinking */
    }
}

@media (max-width: 1000px) {
    .home {
        padding: 0px 100px; /* Further reduce padding */
    }

    .text-1 {
        margin-top: 30%;
        font-size: 30px;
    }

    .text-2 {
        font-weight: bold;
        font-size: 60px;
        margin-top: 5px;
    }

    .home .home-content .text-3 {
        font-size: 30px !important;
        margin-top: 20px !important;
    }

    .text-3 span {
        font-size: 30px;
        margin-top: 20px;
    }
    
    .home-content {
        min-width: 600px !important; /* Set a minimum width to prevent shrinking */
    }
}

@media (max-width: 600px) {
    .home {
        padding: 0px 70px; /* Even smaller padding for smaller screens */
    }

    .text-1 {
        margin-top: 30%;
        font-size: 18px;
    }

    .text-2 {
        font-weight: bold;
        font-size: 28px;
        margin-top: 5px;
    }

    .home .home-content .text-3 {
        font-size: 20px !important;
        margin-top: 10px !important;
    }

    .text-3 span {
        font-size: 20px;
        margin-top: 10px;
    }

    .home-content {
        margin-top: 100px !important;
        min-width: 300px !important; /* Set a smaller minimum width for small screens */
    }
}

@media (max-width: 400px) {
    .home {
        padding: 0px 55px; /* Even smaller padding for smaller screens */
    }

    .text-1 {
        margin-top: 30%;
        font-size: 18px;
    }

    .text-2 {
        font-weight: bold;
        font-size: 24px;
        margin-top: 5px;
    }

    .home .home-content .text-3 {
        font-size: 18px !important;
        margin-top: 10px !important;
    }

    .text-3 span {
        font-size: 18px;
        margin-top: 10px;
    }

    .home-content {
        margin-top: 100px !important;
        min-width: 300px !important; /* Set a smaller minimum width for small screens */
    }
}

.home .home-content {
    color: honeydew;
    white-space: normal;
    overflow-wrap: break-word;
}
.home .home-content .text-3 span {
    /* color: #277FD8; */
    color: greenyellow;
    font-weight: 500;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home-content {
    position: absolute;
    top: 40%;
    text-align: left;
    width: 100%;
    min-width: 750px;
    transform: translateY(-25%);
}

.about-skills-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

/* Align introduction-container to the left */
.introduction-container {
    flex: 1;
    max-width: 1500px;
    /* margin-right: 50px; */
    border-radius: 3rem;
    background-size: cover;
    background-position: center;
    color: honeydew;
    background-color: white;
    background: url(images/double-wave.png) no-repeat center top;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

/* Center the content within svg-title-container */
.svg-title-container {
    position: relative;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}

.headshot-introduction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: transparent;
    max-width: 300px;
}

/* Add keyframes for bounce animation */
@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 20px, 0); 
    } 
} 

/* Bounce animation for headshot picture */
.headshot-picture { 
    -webkit-animation-name: bounce; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    -webkit-animation-iteration-count: infinite; 
} 

@-webkit-keyframes bounce { 
    from { 
        -webkit-transform: translate3d(0, 0, 0); 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        -webkit-transform: translate3d(0, 20px, 0); 
        transform: translate3d(0, 20px, 0); 
    } 
} 

/* Center the about-me title */
.about-me {
    font-size: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: honeydew;
    position: absolute; 
    top: 5rem; 
    left: 50%; 
    transform: translateX(-50%); 
    white-space: nowrap; 
}

.about-me-underline {
    width: 250px;
    margin-top: 5px !important;
    height: 4px;
    background-color: honeydew;
    margin: 0 auto;
    border: none;
}

.headshot-picture img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 10rem;
    animation: bounce 3s infinite;
    animation-direction: alternate;
    border-radius: 5%;
}

.introduction-text {
    font-size: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    word-spacing: 4px;
    max-width: 700px;
}

/* Style for the button */
.more-about-me {
    border: 2px solid lightblue;
    background-color: lightblue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative; 
}

/* Hover effect for the button */
.more-about-me:hover {
    background-color: #277FD8;
    border-color: #277FD8;
    transform: scale(1.05);
}

/* Style for the arrow */
.more-about-me i {
    margin-left: 10px; 
    position: relative;
    left: 0;
    transition: left 0.3s ease;
}

/* Move the arrow to the right on hover */
.more-about-me:hover i {
    left: 5px; 
}

.skills-tools-container {
    display: flex;
    justify-content: flex-start; /* Align children to the left */
    align-items: flex-start; /* Align items at the start of the container */
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 3rem auto;
    border-radius: 3rem;
    gap: 1.5rem;
}

.skills-container, .tools-container {
    flex: 1 1 48%;
    max-width: 100%;
    height: 700px;
    margin: 1rem auto;
    border-radius: 3rem;
    background-size: cover;
    background-position: center;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content to the left */
    justify-content: flex-start;
    padding: 2rem;
}

.skills-title, .tools-title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: black;
    white-space: nowrap; 
    margin: 0 auto;
}

.skills-title img, .tools-title img {
    width: 55px;
}

.skills-content, .tools-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    width: 100%;
    margin-top: 2rem;
}

.skills-list p, .tools-list p {
    font-size: 36px;
    margin: 0.5rem 0;
    font-weight: 500;
    text-align: left; /* Ensure text inside the paragraphs is left-aligned */
}

.skills-list img, .tools-list img {
    width: 40px;
    height: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: 10px;
}

.skills-list p, .tools-list p {
    font-size: 36px;
    margin: 0.5rem 0;
    font-weight: 500;
}

/* Responsive adjustments */
@media (max-width: 600px) {


    .skills-container,
    .tools-container {
        flex: none; /* Disable flex shrinking */
        width: 100%; /* Take full width on smaller screens */
        margin: 1rem 0;
    }

    .skills-title {
        font-size: 36px;
    }

    .skills-list p,
    .tools-list p {
        font-size: 24px;
        text-align: center;
    }

    .skills-list img,
    .tools-list img {
        width: 35px;
    }
}

.contact-section {
    color: black;
    background-color: white;
    scroll-margin-top: 75px;
    background: url(images/double-wave.png) no-repeat center top;
    background-size: cover;
    border-radius: 3rem;
    max-width: 1500px;
}

.contact-section .contact-title{
    text-align: center;
    font-size: 50px;
    color: honeydew;
    padding: 40px;
}

.contact-section .contact-me-underline {
    width: 300px;
    margin-top: 5px !important;
    height: 4px;
    background-color: honeydew;
    margin: auto;
}

.contact-section .contact-subtext {
    color: honeydew;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
}

.contact-section .contact-subtext .contact-email {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-section .contact-subtext .contact-email a {
    font-size: 20px;
    color: green;
    text-decoration: none;
    transition: all .8s ease in out;
}

.contact-section .contact-subtext .contact-email:hover {
    font-weight: 500;
}

.contact-section .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.contact-icons .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-icons .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-icons .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-icons .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.contact-icons .icon:hover span, 
.contact-icons .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.linkedin {
    --color: #0077B5;
}

.github {
    --color: #333333;
}

.resume {
    --color: limegreen;
}

.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
    background: var(--color);
    color: white;
}